<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
  {% include google_analytics.html %}
  {% include mathjax.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
        <!-- rjs put {{ site.baseurl }}/ below to get the Page title link to work -->
          <a href="/" title="Home">{{ site.title }}</a>

          {% for page in site.pages_list %}
              &nbsp;&nbsp;&nbsp;<small><a href="{{ site.baseurl }}{{ page[1] }}">{{ page[0] }}</a></small>
          {% endfor %}

        </h3>
      </div>

      {{ content }}     
      
      {% include twitter_plug.html %}
      
      {% include comments.html %}

      <div class="footer">
        <p> Click on post heading to enable comments (via disqus). </p>
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>
    
  </body>
</html>
